[submodule "Bank/lib/forge-std"]
	path = Bank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFTMarket/lib/forge-std"]
	path = NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFTMarket/lib/openzeppelin-contracts"]
	path = NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFTMarket-permit/lib/permit2"]
	path = NFTMarket-permit/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "NFTMarket-permit2/lib/permit2"]
	path = NFTMarket-permit2/lib/permit2
	url = https://github.com/uniswap-contracts/permit2
